@import "tailwindcss";

@theme {
  --font-playfair: 'Playfair Display', serif;
  --font-roboto: 'Roboto', sans-serif;
  --color-gold: #d4af37;
  --color-dark-bg: #050505;
}

:root {
  background-color: var(--color-dark-bg);
  color: #e0e0e0;
}

body {
  margin: 0;
  overflow-y: auto;
  font-family: var(--font-roboto);
}